<%# Animated email link %>
<a href="mailto:<%= email %>">
  <img src="/images/icons/email.gif" 
       alt="Email" 
       width="24" height="24" 
       border="0" 
       align="middle">
  <font color="#0000FF"><%= text || 'Email me!' %></font>
</a>