<%# Under Construction banner %>
<center>
  <table border="0" cellpadding="10" cellspacing="0">
    <tr>
      <td>
        <img src="/images/animations/under-construction.gif" alt="Under Construction" width="50" height="50">
      </td>
      <td>
        <font size="5" color="#FF0000">
          <b class="blink">UNDER CONSTRUCTION</b>
        </font>
        <br>
        <font size="3" color="#000000">
          This page is being updated with the latest web technology!
        </font>
      </td>
      <td>
        <img src="/images/animations/under-construction.gif" alt="Under Construction" width="50" height="50">
      </td>
    </tr>
  </table>
</center>
<hr class="flame">